.accordion {
    margin-bottom:30px;
}

.accordion--mobile {
    width: 100%;
    padding-left: 20px;
    border: 1px solid #e9e9e9;
    border-radius: 2px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.accordion_item:first-of-type {
    border-top: 1px solid #ddd;
}

.accordion_item {
    width:100%;
    background:transparent;
    overflow: hidden;
    position: relative;
    animation-delay: 0.5s;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    outline: none;
}

.accordion_item:focus{
    outline: none;
}

.accordion_item:hover {
    cursor: pointer;
}

.accordion_item .accordion_title {
    margin: 0;
    font-family: "PT serif",serif;
    font-style: italic;
    font-size: 1.17em;
    font-weight: normal;
    position: relative;
    padding: 28px 0;
}

.accordion--mobile .accordion_item{
    border: none;
    margin: 0;
}

.accordion--mobile .accordion_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.accordion_item .accordion_title {
    outline: none;
}
.accordion_title h3 {
    font-size:1.5em;
}
.accordion_item .accordion_title * {
    margin:0;
    padding:0;
    line-height: 1.2em;
}
.accordion_item .accordion_title:after {
    content:'';
    position: absolute;
    right:20px;
    width:7px;
    height:7px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    font-size:1.7em;
    border-right: 2px solid #9B9B9B;
    border-bottom: 2px solid #9B9B9B;
    /*margin-top: -2px;*/
    transition:.3s all;
}
.accordion_item.active .accordion_title:after {
    margin-top:0px;
    transform: translate(0, -50%) rotate(-135deg);
    // left:-15px;
}
.accordion_content {
    padding:0 10px 24px;
    position: relative;
    overflow: hidden;
    clear:both;
    margin-top: 0;
    display:none;
}
.accordion_item.active .accordion_content {
    opacity: 1;
}