.btn {
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    font-size: 0.85em;
    background-color: $btnRegular;
    color: #fff;
    border: 0;
    padding: .61em 1.07em;
    letter-spacing: 0.2px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: all .1s linear;
}

.btn:hover,
.btn:focus {
    background-color: $btnRegular--hover;
}

.btn--large {
    padding:1.05em 3.42em;
    font-size: 1em;
}

.btn--green {
    background-color: $success;
}

.btn--green:hover,
.btn--green:focus {
    background-color: #076534;
}

.btn--ghost {
    background-color: rgba(255,255,255,0);
    border: 1px solid $neutralLight;
    color: $link;
}
.btn--ghost:hover,
.btn--ghost:focus {
    background-color: rgba(255,255,255,0);
    text-decoration: underline;
    border: 1px solid $link;
}

.btn--ghostDark {
    background-color: rgba(255,255,255,0);
    border: 1px solid #FFFFFF;
    color: #fff;
}
.btn--ghostDark:hover,
.btn--ghostDark:focus {
    background-color: rgba(255,255,255,0);
    text-decoration: underline;
    border: 1px solid #FFFFFF;
}