// This is where site-specific styles go
body {
    background-color: #EEF3F9;
}

/*use this when a modal is open*/
body.noScroll{
    overflow: hidden;
}

.hidden{
    /*the use of important is justified, as this class would be expected to override an elements normal styles*/
    display: none !important;
}

header#site-header {
    position: fixed;
    padding: 35px!important;
    padding-bottom: 50px!important;
    background-color: #FFFFFF;
    box-shadow: 1px 4px 5px 0 rgba(0,0,0,0.15);
    /*allow for a minimum of 16 characters of text, plus the 70px of L/R padding*/
    width: calc(16ch + 70px);
    height: 100%;
    z-index: 99;
    transition: left .2s ease-in-out;
}

.page__heading {
    padding-left: 24px;
}

.content__area--singlepage h1 {
    line-height: 1.2;
    margin-bottom: 2rem;
}

.content__area em {
    font-style: italic;
}

.mobile__header {
    background-color: #161F31;
    position: relative;
    display: none;
    height: 75px;
    padding: 12px;
    text-align: center;
    z-index: 9;
    width: 100vw;
}

.mobile__header a svg{ 
    height: 50px;
}

#openNav {
    height: 25px;
    position: absolute;
    top: 50%;
    left: 20px;
    width: auto!important;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.img__ignore__width {
    width: auto!important;
}

.mobile__logo {
    height: 50px;
}

.mobile__nav__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    padding: 20px;
}

.body__wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.nav ul, .mobileMenu ul {
    list-style: none;
    padding: 0;
}

.nav ul li, .mobileMenu ul li {
    font-weight: bold;
    font-size: 1.14rem;
    position: relative;
}

.nav ul.sub-menu, .mobileMenu ul.sub-menu {
    padding-top: 5px;
    padding-bottom: 25px;  
}

.nav a, .mobileMenu a {
    color: #494949;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus, .mobileMenu a:hover, .mobileMenu a:focus {
    color: #2773CB;
}

.nav ul li ul li{
    font-weight: normal;
    font-size: 1rem;
}
.nav ul li ul li, ul.mobileMenu li ul li{
    /*NOTE: if these values are changed, the values in .current-menu-item:before, .mobileMenu .current-menu-item:before  will also need to be updated*/
    /*override default line height and replace with margin to keep multiline items together*/
    line-height: 1.5em;
    margin-top: .25em;
    margin-bottom: .5em;
    /*create a hanging indent if any items wrap to a 2nd line*/
    margin-left: 2ch;
    text-indent: -2ch;
}


.nav__social ul, .mobileNav__social ul {
    list-style: none;
    text-align: center;
}

.nav__social ul li, .mobileNav__social ul li {
    text-align: center;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.current-menu-item:before, .mobileMenu .current-menu-item:before {
    content: "";
    position: absolute;
    height: 1.2rem; /*because accompanying text is 1rem tall, and bar is supposed to be just slightly taller*/
    width: 4px;
    background-color: #3B99FC;
    top: calc((1.5em - 1.2rem)/2); /*center it with the text. line height of text - height of this element / 2*/
    left: calc(-2.5ch - 4px); /*2ch is the margin were moving back past, .5ch isreasonable amount of space, 4px is width of this element*/
}

.clear__left {
    margin-left: calc(16ch + 70px); /*must be same as width of header#site-header*/
}

.section--blue {
    width: 100%;
    background-color: #222E45;
}

.section--grey {
    background-color: #F2F2F2;
}

/********* Menu button mobile *********/
#mobileMenuBtn--container {
    position: absolute;
    top: 15px;
    left: 21px;
    font-size:10px;
    width: 3em;
    height: 4em;
    display:inline-block;
    cursor: pointer;
    transform: rotate(0);
    //padding-top:0.08em;
    //padding-bottom:0.08em;
    background-color: transparent;
    //margin-left: 1em;
    border: none;
}

.mobileMenuBtn{
    width: 100%;
    height: .3em;
    background:#fff;
    transition: transform 0.2s ease-in-out;
    position:absolute;
  }

.mobileMenuBtn--top{
    animation: rotateN--reset 0.3s,moveUp 0.2s 0.3s forwards;
}
.active .mobileMenuBtn--top{
    animation: moveUp--reset 0.2s,rotateN 0.2s 0.3s forwards;
}
.mobileMenuBtn--middle{
    animation: fadeIn 0.3s forwards;
}
.active .mobileMenuBtn--middle{
    opacity:1;
    animation: fadeOut 0.3s forwards;
}
.mobileMenuBtn--bottom{
    animation: rotateP--reset 0.3s,moveDown 0.2s 0.3s forwards;
}
.active .mobileMenuBtn--bottom{
    animation: moveDown--reset 0.2s,rotateP 0.2s 0.3s forwards;
}

@keyframes rotateP{
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(45deg);
    }
  }
  @keyframes rotateP--reset{
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  @keyframes rotateN{
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-45deg);
    }
  }
  @keyframes rotateN--reset{
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  @keyframes moveDown{
    from {
      transform: rotate(0) translateY(0) translateX(0);
    }
    to {
      transform: rotate(0) translateY(0.8em) translateX(0);
    }
  }
  @keyframes moveDown--reset{
    from {
      transform: rotate(0) translateY(0.8em) translateX(0);
    }
    to {
       transform: rotate(0) translateY(0) translateX(0);
    }
  }
  @keyframes moveUp{
    from {
      transform: rotate(0) translateY(0) translateX(0);
    }
    to {
      transform: rotate(0) translateY(-0.8em) translateX(0);
    }
  }
  @keyframes moveUp--reset{
    from {
      transform: rotate(0) translateY(-0.8em) translateX(0);
    }
    to {
      transform: rotate(0) translateY(0) translateX(0);
    }
  }
  @keyframes fadeIn{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut{
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .no-animation{
    animation:none !important;
  }

.mobileMenu__tabBar {
    // position: absolute;
    // background-color: #fff;
    // width: 95vh
}

.mobileMenu {
    list-style: none;
    position: absolute;
    overflow-y: scroll;
    top: 75px;
    z-index: 10;
    width: 95vw;
    background-color: #fff;
    left: calc(-100vw - 15px);
    transition: left .1s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll; 
    padding-left: 20%;
    padding-right: 25%;
    text-align: left;
    padding-top: 50px;
    height: 100vh;
}

.mobileMenu--active {
    left: -15px;
}

.mobileMenu li {
    font-weight: 700;
    font-size: 1.16rem;
    position: relative;
}

.mobileMenu ul li {
    font-weight: normal;
    font-size: 1.14rem;
    position: relative;
}

// .mobile__header .nav__social {
//     position: relative;
// }



//Homepage
.logo__block {
    text-align: center;
    margin-bottom: 30px; 
}

.glide__slide {
    height: calc(90vh - 300px)!important;
    position: relative;
}

.glide__content {
    position: absolute;
    left: 75px;
    bottom: 45px;
}

.glide {
    position: relative;
}

.glide__title {
    width: 75%;
    line-height: 3.25rem;
    margin-bottom: 5px;
    font-size: 32pt;
    line-height: 44pt;
    letter-spacing: .42;
}

.glide__title a {
    color: #FFFFFF;
}

.news__featured .alumni__block--33 {
    width: 380px;
    min-height: 323px;
}

.news__featured .alumni__block--66 {
    width: 708px;
    height: 371px;
}

.homepage__news__section .news__featured .featured__button {
    bottom: auto;
    //margin-top: 40px;
    position: relative;
}

.content__area {
    padding: 50px;
    padding-bottom: 0;
}

.content__area--2nd {
    padding: 0px 50px 50px 50px;
}

.content__area--paddingBot {
    padding-bottom: 50px;
}

.ways__to__give__section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.glide__arrow.glide__arrow--left {
    right: 100px;
    left: auto;
    bottom: 65px;
    top: auto;
    background: rgba(0,0,0,.7)!important;
}

.glide__arrow.glide__arrow--right {
    right: 60px;
    left: auto;
    bottom: 65px;
    top: auto;
    background: rgba(0,0,0,.7)!important;
}

.alumni__row {
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content:flex-start;
    width: 100%;
    max-width: 1240vw;
    margin: 0 auto;
    margin-bottom: 44px;
}
.alumni__row.waysToGive__row--1 {
    align-self: top;
}

.alumni__row.waysToGive__row--2 {
    align-self: stretch;
} 

.alumni__row.waysToGive__row--2 .shadow__block{
    margin: 12px;
    text-align: center;
    align-self: stretch;
    flex: 1;
}

.ways__icon {
    margin-bottom: 10px;
}

.alumni__row.alumni__row--noMrgnBot {
    margin-bottom: 0;
}

.alumni__row--inspire {
    margin: 0 auto;
}

.featured__category,
.shadow__block__label {
    position: absolute;
    top: 16px;
    left: 24px;
    font-size: 0.85rem;
    font-weight: bold;
}

.featured__date {
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 0.85rem;
    font-weight: bold;
}

.featured__title a {
    color: #000;
    text-decoration: none;
}

.featured__button {
    bottom: 24px;
    //margin: 0;
    position: absolute;
}

.news__block {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 1.45%;
}

.news__loadmore {
    text-align: center;
    margin: 0 auto;
}

.homepage__news__image__block {
    position: relative;
}

.news__image__block {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 233px;
    position: relative;
}

.news__category {
    position: absolute;
    top: 16px;
    left: 24px;
    font-size: 0.85rem;
    font-weight: bold;
    color: #FFFFFF;
    z-index: 2;
}

.news__category a{
    text-decoration: none;
    color: #FFFFFF;
}

.featured__category a,
.homepage__news__title a,
.news__title a,
.card__title a {
    text-decoration: none;
    color: #000000;
}

.news__title.title__hover, .homepage__news__title.title__hover {
    text-decoration: underline;
}

.news__date {
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 0.85rem;
    font-weight: bold;   
    color: #FFFFFF; 
    z-index: 2;
}

.homepage__news__image,
.news__image,
.card__image {
    width: 100%;
    height: auto;
}

.card__block{
    text-align: center;
} 

.card__button {
    text-align: center;
}

.homepage__news__section {
    padding-bottom: 70px;
}

.homepage__news__content,
.news__content, .card__content {
    padding: 18px;
    box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.15);
    background-color: #FFFFFF;
}

.homepage__news__content {
    height: 133px;
}

.homepage__news__title,
.news__title {
    font-size: 1.15rem;
    line-height: 1.5;
}

.homepage__news__viewmore {
    margin-left: 20px;
    margin-top: -10px;
}

.inspire__left,
.inspire__right {
    white-space: normal;
    vertical-align: top;
}

.inspire__btnBlock {
    background-color: #fff;
    width: calc(100%);
}

.inspire__btn {
    padding: 30px 30px;
    display: block;
}

.inspire__btn:hover,
.inspire__btn:focus {
    text-decoration: none;
    background-color: #CCCCCC;
}

.inspire__btn:hover h3,
.inspire__btn:focus h3 {
    text-decoration: underline;
}

.inspire__btnBlock img,
.inspire__btnBlock h3 {
    display: inline;
    vertical-align: middle;
}

.inspire__btnBlock h3 {
    padding-left: 20px;
    font-family: "PT Serif";
    color: #222E45;
}

.inspire__title {
    color: #FFFFFF;
    line-height: 32px;
    padding-bottom: 34px;
}

.clear {
    clear: both;
}

.img__section {
    width: 100%;
    height: 355px;
    text-align: center;
    background: #494949;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.img__section__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img__section h2 {
    color: #FFFFFF;
}

.img__section p { 
    color: #FFFFFF;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.img__section .btn {
    margin-top: 15px;
}

//Footer
.footer__wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.site__footer {
    background: #222;
    color: #FFFFFF;
    width: 100%;
}

.footer__inner {
    margin-left: 188px;
}

.footer__inner--main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 62px;
    justify-content: center;
}

.footer__inner--main p {
    font-size: 14px;
    color: #9b9b9b;
    line-height: 22px;
    margin: 0;
}

.footer__inner--main .footer__title {
    color: #FFFFFF;
}

.footer__group {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    // flex: 1;
}

.footer__group--1 {
    justify-content: center;
}

.footer__group--6 {
    justify-content: center;
}
.footer__group--2,
.footer__group--3 {
    // flex: 2;
}
.footer__block--border {
    border-left: 1px solid #333;
}

.footer__block {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: content-box;
}
.footer__block--2 {
    padding-right: 0;
}

.footer__nav__social {
    padding: 10px;
}

.footer__nav__social ul {
    list-style: none;
}

.footer__nav__social ul li {
    display: inline-block;
    padding: 10px;
}

.footer__nav__social ul li img{
    width: auto;
    max-height: 20px;
}

.footer__border {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.footer__logo--mobile {
    display: none;
}

.footer__menu {
    list-style: none;
}

.footer__menu__title a{
    color: #ABABAB!important;
}

.footer__menu__title a:hover {
    text-decoration: none !important;
}

.footer__inner--copyright {
    padding: 48px 20px;
    border-top: solid 1px #333;
    background-color: #222;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerCopyright__left {
    display: flex;
}

.footerCopyright__info a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    margin-right: 15px;
}


.footerCopyright__right {
    display: flex;
    font-size: .85em;
    align-items: center;
}

.footerCopyright__cYear {
    padding-right: 15px;
}

.footerCopyright__cYear, 
.footerCopyright__localTime p, 
.footer__inner--main a.footer__tel {
    color: #9b9b9b;
}

//Page Template
.page__hero {
    width: 100%;
    height: calc(50vh);
    min-height: 475px;
    max-height: 525px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.page__hero__h1 {
    position: absolute;
    left: 75px;
    //top: 20px;
    padding: 24px;
}

.page__hero__h1_title {
    height: 22px;
    width: 72px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.04px;
    line-height: 22px;
}

.page__hero__content {
    position: absolute;
    left: 75px;
    bottom: 45px;
    padding: 24px;
    background-color: rgba(0,0,0,0.65);
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.15);
    width: 75%;
    max-width: 547px;
    font-family: "Roboto", sans-serif;
}

.page__hero__content.simple_hero {
    background: none;
    box-shadow: none;
}

.page__hero__title {
    color: #FFFFFF;
}

.page__hero__text {
    color: #FFFFFF;
}

.btn {
    margin-top: 10px;
}


//Alumni Grid
.shadow__block {
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.15);
    padding: 24px;
    background-color: #FFFFFF; 
}

.shadow__block--paddingTop {
    //padding-top: 36px;
}

.home .shadow__block--paddingTop {
    padding-top: 36px;
}

.col--4.shadow__block {
    padding: 24px;
}

.shadow__block--left {
    position: relative;
    transform: translateX(20px);
    margin-left: -20px;
}

.shadow__block--right {
    position: relative;
    transform: translateX(-20px);
    margin-right: -20px;
}

.shadow__block h2 {
    line-height: 1.71;
    margin-bottom: 0.5rem;
}

.shadow__block p {
    margin-bottom: 1rem;
}

.alumni__row {
    display: flex;
    flex-direction: row;
    align-items:center;
    //align-content:flex-start;
}

.alumni__block--33 {
    width: 382px;
}

.alumni__block--50 {
    //width: 50%;
    width: 560px;
    min-height: 401px;
}

.alumni__block--50image {
    //width: calc(50% + 20px);
    width: 528px;
    height: 100vh;
    //height: 465px;
    max-height: 450px;
    background-image: url(https://via.placeholder.com/750x500);
    background-size: cover;
    background-position: center;
}

.alumni__block--66 {
    width: calc(100% - 362px);
    height: 100vh;
    max-height: 450px;
    background-image: url(https://via.placeholder.com/750x500);
    background-size: cover;
    background-position: center;
}
.inspire__buttons.shadow__block {
    padding: 0;
    background: none;
}

//Giving Template
.staff__block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.staff__left {
    width: 220px;
}

.staff__left__container {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 300px;
    position: relative;
}

.staff__left__text {
    padding-left: 24px;
    padding-bottom: 24px;
    padding-top: 8px;
    font-family: 'PT Serif', serif;
}

.staff__right {
    padding: 32px;
    flex: 1;
}

.staff__block.shadow__block {
    padding: 0;
}

.staff__img {
    height: 296px;
    width: auto;
}

.objectFit {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

//Resources Template
.resource__block--small {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.resource__block--small img {
    width: 65%!important;
    margin-bottom: 15px;
    height: auto!important;
}

.resource__row {
    margin: 40px auto;
}

.resource__faq {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto 44px;
}

//styles from classnotes that may also be in use elsewhere
.modal__content.modal__form {
    overflow: auto;
}

.errormessage {
    font-size: .8rem;
    display: none;
    color: #FF0000;
}

.errormessage.active {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.directory__filters__right {
    margin: 12px;
}

.filter__checkBlock {
    margin-bottom: 1rem;
}

#loadMoreBlock {
    text-align: center;
}
//end styles from classnotes


//Directory
.directory__filters {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.directory__filter__col {
    display: inline-block;
    margin: 1rem 0;
    margin-right: 2rem;
}

.directory__filter__label {
    position: relative;
    margin-bottom: 1rem;
    position: relative;
}

.directory__filter__label--block {
    display: block;
}

.directory__filter__label--hidden,
.directory__search__label {
    position: absolute;
    visibility: hidden;
}

.filter__select__wrapper {
    position: relative;
    display: inline-block;
}

.directory__filter__select {
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    height: 44px;
    padding: 12px 60px 12px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.dir__dropdown {
    width: 44px;
    height: 42px;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 2;
    pointer-events: none;
    background: #FFF;
    border-left: 1px solid #e0e0e0;
}

.dir__drop {
    position: absolute;
    top: 15px;
    right: 17px;
    transform: rotate(90deg);
    pointer-events: none;
}

.directory__filter__search__block {
    display: block;
    margin: 1rem 0;
}

.directory__search {
    border:1px solid #E0E0E0;
    padding: 12px 16px 12px 60px;
    position: relative;
    width: 75%;
}

.directory__search__submit {
    width: 20%;
    float: right;
    margin-right: 28px;
    margin-top: 0;
    -webkit-appearance: none;
}

.dirSearchNameValMsg {
    display: none;
    color: red;
}

.directory__output {
    margin: 2.4rem 0;
    //text-align: center;
}

.directory__entry {
    padding: 2.5rem 3rem;
    border-top: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
}

.directory__entry:last-of-type {
    border-bottom: 1px solid #E0E0E0;
}
.directory__entry__left {
    padding-right: 2rem;
    border-right: 1px solid #E0E0E0;
} 

.directory__entry__right {
    flex: 1;
    display: flex;
    padding-left: 2rem;
    justify-content: space-between;
    align-items: center;
}
.directory__entry__name {
    font-size: 1.429rem;
    margin-bottom: 6px;
}

.directory__entry__class {
    color: #999999;
    font-size: 1.143rem;
}
.directory__entry__degree {
    font-size: 1.143rem;
    margin-bottom: 6px;
}

.directory__entry__school {
    font-size: 1.143rem;
    color: #999999;
}

.directory__social__link {
    width: 32px;
    height: 32px;
    display: inline-block;
    //border: 1px solid #D9D9D9;
    text-decoration: none;
    position: relative;
}

.directory__social__link:hover {
    background-color: #D9D9D9;
}

.directory__social__icon {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
}



#loadMoreBlock {
    text-align: center;
}

#loadMoreAlum {
    display: inline-block;

    background: #c00027;
    padding: 15px 40px;
    margin-bottom: 25px;

    text-decoration: none;
    transition: all .3s ease 0s;
    cursor: pointer;
}

#loadMoreAlum a {
    font-family: 'Roboto',sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

//Alumni Chapters Map
.chapter__intro .alumni__block--50:first-of-type {
    width: 560px;
    height: 401px;
}

.chapter__intro__title {
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 20px;
}

.map__section {
    position: relative;
}

.map__sidebar {
    position: absolute;
    width: 240px;
    height: 100%;
    padding: 2rem;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.15);
    z-index: 2;
    overflow-y: scroll;
}

.map__select {
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    padding: 12px 16px;
    margin: 1rem 0;
}

.map__map {
    margin-left: 240px;
    background-color: #F8F9FA;
    z-index: 1;
    height: 650px;
}

.chapter__location {
    margin-bottom: 1rem;
}

.chapter__resources .alumni__block--50:last-of-type {
    width: 560px;
    height: 403px;
}

// Referral Application
.referral__form {
    
}

.referral__row {
    display: flex;
    flex-direction: row;
}

.referral__label {
    display: block;
    margin: 15px 0;

}

.referral__col {
    margin: 0 20px;
    flex: 1;
}

.referral__input {
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    border: 1px solid #686a6f;
    margin-top: 5px; 
}

.referral__poBoxLabel{
    color: #444;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

.referral__form #submitBtn {
    margin-bottom: 50px;
}

@media(max-width: 1240px) {
    .footer__group--2 {
        flex-direction: column;
    }
    .footer__block--2 {
        margin-bottom: 20px;
    }

    .footer__nav__social ul {
        display: flex;
        flex-direction: column;
    }
    
    .directory__filters {
        flex-direction: column;
    }
}

@media(max-width: 1225px) {
    .footer__inner--copyright {
        padding: 30px 20px;
        border-top: none;
        flex-direction: column;
    }

    .footerCopyright__info {
        margin-bottom: 10px;
        flex: 1;
        text-align: center;
    }

    .footerCopyright__right {
        flex-direction: column-reverse;
        flex: 1;
        text-align: center;
    }

    .footerCopyright__left {
        margin-bottom: 33px;
        flex: 1;
        text-align: center;
    }
}

@media (max-width: 1225px) {
    body {
        margin-top: 75px!important;
    }

    body.noscroll {
        overflow-y: hidden;
    }
    
    header#site-header {
        width: 330px;
        left: -330px;
        padding: 100px!important;
        top: 0;
        overflow-y: scroll;
    }

    header#site-header.active {
        left: 0;
    }

    .mobile__header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .mobile__nav__close {
        display: block;
    }

    .clear__left,
    .footer__inner {
        margin-left: 0; 
    }

    .alumni__block--66,
    .alumni__block--33,
    .alumni__block--50 {
        width: calc(50% + 20px);
    }

    .alumni__row.waysToGive__row--1 {
        flex-direction: column; 
    }
}

@media (max-width: 800px) {
    .content__area {
        padding: 24px;
    }
    
    .footer__group--3 {
        display: flex;
        flex-direction: column;
    }

    .footer__block--4 {
        margin-bottom: 20px;
    }

    .inspire__title{
        max-width: 280px;
    }

    .news__category {
        display: none;
    }
    .directory__filter__col,
    .directory__filter__search__block,
    .directory__filters__right {
        margin: 1rem 0;
    }
    .directory__filter__col--mBlock {
        display: block;
    }

    .directory__filter__col--mBlock .filter__select__wrapper,
    .directory__filter__col--mBlock .directory__filter__select{
        width: 100%;
    }

    .directory__search__submit {
        margin-right: 0;
    }

    .btn--large.directory__search__submit {
        padding-left: 0;
        padding-right: 0;
    }

    .map__sidebar {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
    }

    .map__map {
        margin-left: 0;
    }
}

//Mobile
@media (max-width: 915px) {
    .page__heading {
        padding-left: 42px;
    }

    .section--blue {
        padding: 24px;
    }

    .content__area {
        padding: 0;
    }

    .content__area.content__area--singlepage,
    .content__area.content__area--directory,
    .content__area--map,
    .content__area--2nd   {
        padding: 24px;
    }
    .news__block {
        width: 100%;
        display: block;
        box-sizing: border-box;
        margin: 0;
    }
    
    .homepage__news__content,
    .news__content {
        width: calc(100% - 36px);
        margin: 0 auto;
        transform: translateY(-18px);
    }

    .alumni__block--33,
    .alumni__block--50,
    .alumni__block--66 {
        display: block;
        width: 100%;
        margin: 0 auto;
        transform: translateY(-18px);
        margin-top: 20px;
    }

    .resource__block--small {
        width: calc(100% - 36px)!important;
        margin: 0 auto;
    }

    .news__date,
    .featured__date,
    .inspire__image {
        display: none;
    }

    .inspire__btn,
    .inspire__btnBlock {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
        transform: none;
    }

    .alumni__row {
        flex-direction: column;
    }

    .alumni__row.alumni__row__reverse {
        flex-direction: column-reverse;
    }

    .alumni__row.alumni__row--noMrgnBot,
    .ways__to__give__section {
        margin-bottom: 4rem;
    }
    
    .alumni__row.waysToGive__row--1,
    .alumni__row.waysToGive__row--2 {
        margin-bottom: 0;
    }


    .alumni__block--66 {
        max-height:500px;
        width: 80vh;
    }

    .alumni__block--50image {
        width: 75%;
    }

    .inspire__title {
        max-width: 100%;
    }

    .footer__inner--main {
        flex-direction: column;
        padding-bottom: 0;
    }

    .footer__group {
        margin-bottom: 40px;
    }

    .footer__block {
        padding: 0;
    }

    .footer__block--2,
    .footer__block--4 {
        text-align: right;
        padding-left: 0;
        padding-right: 40px;
    }

    .footer__block--3,
    .footer__block--5 {
        padding-left: 40px;
        padding-right: 0;
    }

    .footer__block--2 {
        margin-bottom: auto;
    }

    .footer__group--2,
    .footer__group--3,
    .footer__nav__social ul {
        flex-direction: row;
    }

    .footer__logo {
        display: none;
    }

    .footer__logo--mobile {
        display: block;
    }

    .page__hero {
        height: 475px;
    }

    .page__hero__content {
        width: 100%;
        max-width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .staff__block {
        flex-direction: column;
    }

    .staff__left {
        margin-left: 32px;
    }

    .staff__left__text {
        padding-left: 0;
    }

    .staff__right {
        padding-top: 0;
    }

    .modal__content {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }

    .referral__row {
        flex-direction: column;
    }

    .directory__entry__right {
        flex-direction: column;
        align-items: initial;
    }
    
    .directory__entry__info {
        margin-bottom: 1rem;
    }

    .directory__entry__social {
        width: 100%;
    }

    .directory__entry__name,
    .directory__entry__class {
        font-size:  1rem;
    }

    .directory__entry__degree,
    .directory__entry__school {
        font-size: 0.875rem;
    }
}

@media (max-width: 600px) {
    .directory__search {
        width: 100%;
        display: block;
    }

    .directory__search__submit {
        width: 100%;
        display: block;
        margin: 1rem 0;
    }
}

@media (max-width: 550px) {
    .directory__social__icon {
        width: auto;
    }
}

@media (max-width: 915px) {
    .alumni__row {
        display: flex;
        flex-direction: column;
    }


    .alumni__block--50,
    .alumni__block--33 {
        order: 2;
        max-width: 100%;
        width: auto\9;
    }


    .alumni__block--50image,
    .alumni__block--66 {
        order: 1;
        max-width: 100%;
        width: auto\9;
        height: auto\9;
    }
}

.alumni__block--66,
.inspire__image,
.alumni__block--50image {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

@media (max-width: 575px) {
    .alumni__block--66,
    .inspire__image,
    .alumni__block--50image {
        height: 250px;
    }
}

@media (max-width: 320px) {
    .alumni__block--66,
    .inspire__image,
    .alumni__block--50image {
        height: 140px;
    }
}

@media (max-width: 305px) {
    .homepage__news__block {
        width: 100vw;
    }
}

