$primaryDarkest:#091328;
$primaryDarker:#071023;
$primaryDarker2:#0A1733;
$primaryDark:#121E3F;
$primary:#1B2C56;
$link:#256EC1;
$primaryLighter:#9BC7EE;
$primaryLightest:#EEF3F9;

$neutralDarkest:#222222;
$neutralDark:#595B5F;
$neutral:#686A6F;
$neutralLight:#C6C7C9;
$neutralLighter:#F1F1F1;
$neutralLightest:#FFFFFF;

$ruby:#650918;
$official:#C00D27;
$error:#E4002B;
$warning:#FFD356;
$success:#00854E;
$success-light:#2ECD82;
$mustard:#FFAA33;

$btnRegular:#256EC1;
$btnRegular--hover:#225ca0;